{
  "root": true,
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020, // Allows for the parsing of modern JS
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "extends": ["airbnb-typescript", "plugin:prettier/recommended", "plugin:import/recommended"],
  "plugins": [
    "react", "import"
  ],
  "rules": {
    "react/no-danger": "off", // it's self explainatory that no-danger should be used sparingly
    "react/prop-types": "off", // as long as TS strict mode is off this is not required
    "no-console": "error", // no console statements allowed
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["off"],
    "react/jsx-filename-extension": [1, { "allow": "as-needed", "extensions": [".tsx"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}], // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-extraneous-dependencies.md
    "prettier/prettier": "off" // don't show prettier errors as it will be fixed when saved anyway
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  }
}